<script>
  let current = "";
</script>

<style>
  button.recent {
    background-color: orangered;
  }

  button.alltime {
    background-color: green;
  }
</style>
<div>
  <h3>Who is the greatest of all time?</h3>
  <br>
<!-- We will cover buttons in week 7! -->
<button class="btn btn-secondary" on:click={() => (current = "messi")} class:recent={current =="messi"}>
  A) Messi
</button>

<button class="btn btn-secondary" on:click={() => (current = "ronaldo")} class:recent={current =="ronaldo"}>
  B) Ronaldo
</button>

<button class="btn btn-secondary" on:click={() => (current = "neymar")} class:recent={current =="neymar"}>
  C) Neymar
</button>

<button class="btn btn-secondary" on:click={() => (current = "buffon")} class:alltime={current =="buffon"}>
  D) Buffon
</button>
</div>