<script>
  let clicked = false;
</script>

<div>
  {#if clicked}
  <button class="btn btn-primary" on:click={() => (clicked = false)}>
    Yay you have clicked the button!
  </button>
  
  {:else}
  <button class="btn btn-primary" on:click={() => (clicked = true)}>
    You need to click the button! :)
  </button>
 {/if}
</div>
