<p>I <b>really</b> like data visualisation!</p>
<style>
    p {
        color:steelblue;
        font-size: medium;
        font-family: 'Times New Roman', Times, serif;
    }

    b {
        color: forestgreen;
        font-size: x-large;
    }
</style>