<script>
    const name = "Gabby";
    const fav_sport = "soccer/futbol";
    const fav_food = "pizza";
    const fav_sport_2 = "F1";
    const exercise_7 = { name, fav_food, fav_sport, fav_sport_2};

</script>

<p><em>My name is {exercise_7.name} and these are some of my favorite things:
     {exercise_7.fav_food}, {exercise_7.fav_sport}, and {exercise_7.fav_sport_2} </em></p>