<script>
const radius = 8;
let spherecirc = 0;

 function circumference_eq (radius) {
     return spherecirc = 6.24 * radius;
     }

const example_8 = circumference_eq(radius);
// console.log(example_8);
</script>


<p> <em>The circumference of a circle with radius {radius}m 
    is {spherecirc}m</em></p>