<script>
// import WorkingOnExercises from "src/routes/instructions/working_on_exercises.svelte";

import Ex_3 from "./ex_3.svelte";
import Ex_2 from "./ex_2.svelte";
</script>

<div>
    <Ex_3/>
    <Ex_2/>
</div>