<script>
  // Properties
  // export let data = [];
  export let continent_choice = 'all';
  export let og_year = 1800;
  const continents = ["europe", "asia", "americas", "africa"];


function selected_year(){
  if (og_year >= 2014) {
   og_year = 1800
  } else {
   og_year++
  }
}

// loop back to the start when it reaches the end
let loop;
let pause_loop = true;


const time_advance = () => {
  if (pause_loop) {
    loop = setInterval(selected_year, 100);
    pause_loop = false;
  } else {
    pause_loop = true;
    clearInterval(loop);
  }
}

// reset to 1800
const reset = () => {
 og_year = 1800;
  clearInterval(loop)
  pause_loop = true;
}

</script>

<div class="row">
  <div id='buttons' class='col-1'>
    <button type="button" class="btn btn-primary" on:click={time_advance}>{pause_loop ? 'Start Time Loop': 'Stop Time Loop'}</button>
    <button type="button" class="btn btn-danger" on:click={reset}>Reset</button>
  </div>
  <div class='col-2'>
    <label> 
   Year: {og_year} 
    <input type="range" min='1800' max='2014' bind:value={og_year} />
    </label>
  </div>
  <div class='col-3'>
    <select bind:value={continent_choice}>
      {#each continents as ct}
        <option>{ct}</option>
      {/each}
    </select>
  </div>
</div>

<style>
  .row {
    width: 100%;
		height: 90px;
		position: relative;
		margin-top: 5%;
  }

  button {
    width: 160px;
    margin-bottom: 6px;

  }
  .col-1 {
    float: left;
    width: 33%;
  }

  .col-2 {
    display:inline-block;
    width: 33%;
    
  }

  .col-3{
    float: right;
    width: 33%;
  }

  select {
    padding: 9.5px 10px;
  }
</style>