<script>

    let clicks = 0;
</script>

<div>
    <button type="button" class="btn btn-warning" on:click={() => (clicks += 1)}> Click Counter: {clicks}</button>

    <button type="button" class="btn btn-secondary" on:click={() => (clicks = 0)} >Reset</button>


</div>