<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  let filterdata = [];
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });


  let continent_choice = 'all';
  let og_year = 1800; 
  let filter_continent;
 
  function extract_data (data, continent_choice, og_year) { 
    
    const filter_year = data.filter(d => d.year == og_year);
    if (continent_choice == 'all') {
      filter_continent = filter_year[0]['countries'];
    } else {
      filter_continent = filter_year[0]['countries'].filter(d => d.continent == continent_choice);
    };
  return filter_continent
  }

</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data = {extract_data(data, continent_choice, og_year)} />
    <Controls bind:og_year = {og_year} bind:continent_choice = {continent_choice} {data} />
  </div>
{/if}
