<script>
  import { scaleLinear } from "d3-scale";
  import {scaleOrdinal} from "d3-scale";
  import {scaleLog} from 'd3-scale';
  import {scaleSqrt} from 'd3-scale';
  import {schemeSet2}from 'd3-scale-chromatic';
  import {extent} from 'd3-array';
  import {axisLeft} from 'd3-axis';
  import{axisBottom} from 'd3-axis';
  import {select} from 'd3-selection';

  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  export let data;
  const color = extent(data, (d)  => d.continent);
  const x_values = scaleLog().domain([300,100000]).range([0,innerWidth]);
  const y_values = scaleLinear().domain([0,90]).range([innerHeight,0]);
  const ordinal = scaleOrdinal().range(schemeSet2).domain(color);
  const radius = scaleSqrt().domain([0,5e8]).range([5,10]);
  const tick_values = [400,4000,40000];
  let g;
  $:{
    let yaxis = axisLeft(y_values);
    select(g).call(yaxis);
  }
  let g2;
  $:{
    let xaxis = axisBottom(x_values).tickValues(tick_values);
    select(g2).call(xaxis);
  }
</script>

<svg viewBox = "0 0 {width} {height}" style = "max-width: {width}px">
  <text  x = 0 y = 0 transform = " translate(20,250) rotate(270)" fill = "black" style = "font-size:1em;">Life Expectancy </text>
  <g transform = "translate({margin.left}, {margin.top})">
    
    {#each data as value}
    {#if value.income !== null && value.life_exp !== null && value.population !== null}
    <circle r = {radius(+value.population)}  cy = {y_values(+value.life_exp)} cx = {x_values(+value.income)} style = "fill: {ordinal(value.continent)};"/>
    {/if}
    {/each}
    <text x = {innerWidth/2-margin.left} y = {(height-1.5*margin.top) + 10} fill = "black" style = "font-size:1em;">Income </text>
    <text x = {innerWidth/2-2.5*margin.left}  y = 0 style = "font-size:2em;"> Gapminder Visualization </text>
    <text x = {innerWidth-100}, y = {innerHeight-10} fill = "black" style = "font-size:1.25em; opacity: 0.3;">Year: 1800</text>
    {#each  tick_values as tick}
    <text  x = {x_values(+tick)-15}  y = {(height-1.8*margin.top)+5} style = "font-size:0.7em;">${tick} </text>
    {/each}
</g>
<g transform = "translate({margin.left},{margin.top})" bind:this = {g}>
</g>
<g transform = "translate({margin.left},{innerHeight+margin.top})" bind:this = {g2}>
</g>
</svg>
