<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  import {scaleLog} from "d3-scale";
  import {axisBottom} from "d3-axis";
  import {select} from "d3-selection";


  const scale = scaleLog().domain([1, 10]).range([1, innerWidth]);

  function x_axis(x){axisBottom(scale)(select(x))}
</script>


<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as datapoint}
      <circle cx = {scale(datapoint)}
      cy = {innerHeight / 2}
      r = 10
      fill = "forestgreen"/>
    {/each}

    <g transform = "translate(0,70)" use:x_axis={"g"}></g>
    <text font-size="10" x=380 y=95>x-axis</text>
  </g>
</svg>
