<script>
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 30 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9, color:"firebrick"},
    { service: "Amazon Prime Video", viewers: 1.3, color: "dodgerblue"},
    { service: "Disney+", viewers: 2.1, color: "midnightblue"},
    { service: "Hulu", viewers: 0.9, color: "mediumspringgreen"},
    { service: "Apple TV", viewers: 1.1, color: "slategrey"},
    { service: "Rakuten", viewers: 0.4, color: "crimson"}
  ];

  import {scaleLinear} from "d3-scale";
  import {axisBottom, axisLeft} from "d3-axis";
  import {select} from "d3-selection";
  import {InternMap} from "d3-array";

  const scale_x = scaleLinear().domain([-0.7,data.length]).range([0, innerWidth]);
  const scale_y = scaleLinear().domain([0,3]).range([innerHeight,0]);
  const left_axis = axisLeft(scale_y).ticks();
  const bott_axis = axisBottom(scale_x).ticks(data.length).tickFormat(function(d,i){return data[d]?.service;});
  let gleft_axis, gbott_axis;

  $:{
    select(gleft_axis).call(left_axis);
    select(gbott_axis).call(bott_axis);
  };
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    <g transform = "rotate(-90)" font-size = "10" font-family = "sans-serif" text-anchor = "end">
      <text x = "-100" y = "-5"> Number of Viewers (million)</text>
    </g>

    {#each data as item, index}
    <rect x = {scale_x(index) + 30} y = {scale_y(item.viewers)+10} width = {(innerWidth/data.length)-30} height = {height-scale_y (item.viewers)- margin.top - margin.bottom} fill = "crimson"/>
    {/each}

    <g bind:this = {gleft_axis} transform = {`translate(63,${margin.top})`}></g>
    <g bind:this = {gbott_axis} transform = {`translate(${(innerWidth/data.length)- 30},${height - margin.bottom})`}></g>
</svg>

<style>
	svg {
		display: block;
		margin: 0 auto;
	}
</style>